svtype: "DEL"        # SV type(s) to study. ALL = every type, Use comma to separate multiple 
dist: 1000           # Maximum distance between two break-points for collapsing within samples
dist_merge: 1000     # Maximum distance between two break-points for merging between samples (0-1 percent of length, 1- number of bp) 
minlength: 0         # Min length of the SVs
maxlength: 1_000_000 # Max length of the SVs
igv_batches: True    # Output IGV batches