svtype: "DEL"        # SV type(s) to study. ALL = every type, Use comma to separate multiple 
dist_merge: 1000     # Maximum distance between two break-points for merging between samples (0-1 percent of length, 1- number of bp) 
dist_segdups: 20_000 # Maximum distance between break-points and segdups for removing SV
minlength: 0         # Min length of the SVs
maxlength: 1_000_000 # Max length of the SVs
BL:                  # Path to blacklist as BED file
segdups:             # Path to segment duplications as BEDPE file
bench_vcf:           # Path to VCF for benchmark (e.g. from GIAB)
bench_bed:           # Path to BED for benchmark (e.g. from GIAB)
igv_batches: False    # Output IGV batches

filters: "PASS,."    # Filter strings to include, comma separated

# Arguments passed to `truvari collapse`
collapse_args: "--chain --pctsim 0 --pctovl 0.8 --pctsize 0.8 --refdist 1000" 

# Arguments passed to `truvari bench`
bench_args: "--refdist 2000 --chunksize 3000 --pctsim 0 --pctsize 0.7 --passonly"
