svtype: "DEL"        # SV type(s) to study. ALL = every type, Use comma to separate multiple 
dist: 1000           # The distance between break-points of two SVs to be collapsed and merged
minlength: 30000     # Min length of the SVs
maxlength: 1000000   # Max length of the SVs
BL:                  # Blacklist as BED file, multiple separated by comma
segdups:             # Segment duplications as BEDPE file.
bench_vcf:           # VCF for benchmark (e.g. from GIAB)
bench_bed:           # BED for benchmark (e.g. from GIAB)
igv_batches: True    # Output IGV batches