#default parameters

perc: 0.8            #SVs with scores less than this percentile will be removed (for Naibr)
svtype: "DEL"        #The wanted SV type to study (mainly tested for DEL)
dist: 1000           #The distance between thre break-points of two SVs to be merged
minlength: 30000     #Min length of the SV
maxlength: 1000000   #Max length of the SV
refgenome: hg19      #Reference genome (hg19 or hg38)
